---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=j73btpx0da5n9gp6ijrpbgfu147n40&client_secret=<CLIENT_SECRET>&grant_type=client_credentials&scope
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-68c16f2a-091d87cb2b0b2609411c8e9a
    body:
      encoding: UTF-8
      string: '{"access_token":"<APP_ACCESS_TOKEN>","expires_in":4911113,"token_type":"bearer"}

        '
  recorded_at: Wed, 10 Sep 2025 12:29:30 GMT
- request:
    method: post
    uri: https://api.twitch.tv/helix/eventsub/subscriptions
    body:
      encoding: UTF-8
      string: '{"type":"channel.update","version":"1","condition":{"broadcaster_user_id":"141981764"},"transport":{"method":"webhook","callback":"https://example.com/webhooks/callback","secret":"secretkey123"}}'
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer s3lh22zi9wmds9wfvmxg63xllu4f0m
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507372'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"449bf352-f863-4245-9822-58334efa61e0","status":"webhook_callback_verification_pending","type":"channel.update","version":"1","condition":{"broadcaster_user_id":"141981764"},"created_at":"2025-09-10T12:29:31.211770377Z","transport":{"method":"webhook","callback":"https://example.com/webhooks/callback"},"cost":1}],"total":11,"max_total_cost":10000,"total_cost":1}'
  recorded_at: Wed, 10 Sep 2025 12:29:31 GMT
recorded_with: VCR 6.3.1
