---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/games?id%5B%5D=33214&id%5B%5D=509658
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506776'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"33214","name":"Fortnite","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/33214-{width}x{height}.jpg","igdb_id":"1905"},{"id":"509658","name":"Just
        Chatting","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/509658-{width}x{height}.jpg","igdb_id":""}]}'
  recorded_at: Wed, 10 Sep 2025 12:19:35 GMT
recorded_with: VCR 6.3.1
