---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams?first=5&game_id%5B%5D=33214
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506771'
    body:
      encoding: UTF-8
      string: "{\"data\":[{\"id\":\"314329627218\",\"user_id\":\"159292184\",\"user_login\":\"venofn\",\"user_name\":\"venofn\",\"game_id\":\"33214\",\"game_name\":\"Fortnite\",\"type\":\"live\",\"title\":\"\U0001F3C6
        DISCUSSING GLOBALS AND DUOS WITH PINQ X ACORN \U0001F3C6 | !code !youtube
        !community - TIER 3 = ADD ON FORTNITE - 1 SUB = 2 PUSH UPS\",\"viewer_count\":1976,\"started_at\":\"2025-09-10T11:32:43Z\",\"language\":\"en\",\"thumbnail_url\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_venofn-{width}x{height}.jpg\",\"tag_ids\":[],\"tags\":[\"English\",\"Fortnite\",\"Competitive\",\"CompetitiveFPS\",\"gaming\",\"talkingtochat\",\"pro\",\"drops\",\"chattingwithviewers\"],\"is_mature\":false},{\"id\":\"314919160286\",\"user_id\":\"44424631\",\"user_login\":\"nickeh30\",\"user_name\":\"NickEh30\",\"game_id\":\"33214\",\"game_name\":\"Fortnite\",\"type\":\"live\",\"title\":\"NEW
        FORTNITE UPDATE | Use code NickEh30 #EpicPartner\",\"viewer_count\":1211,\"started_at\":\"2025-09-10T10:25:30Z\",\"language\":\"en\",\"thumbnail_url\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_nickeh30-{width}x{height}.jpg\",\"tag_ids\":[],\"tags\":[\"Canadian\",\"Positivity\",\"Battl[...]
