---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/chat/color?user_id=943007443
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692688957'
    body:
      encoding: UTF-8
      string: '{"data":[{"user_id":"943007443","user_login":"deanpcmadtest","user_name":"deanpcmadtest","color":""}]}'
  recorded_at: Tue, 22 Aug 2023 07:22:36 GMT
recorded_with: VCR 6.2.0
