---
http_interactions:
- request:
    method: delete
    uri: https://api.twitch.tv/helix/videos?id=1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Missing scope: channel:manage:videos
        or channel_editor"}'
  recorded_at: Wed, 10 Sep 2025 12:19:38 GMT
recorded_with: VCR 6.3.1
