---
http_interactions:
- request:
    method: post
    uri: https://api.twitch.tv/helix/clips
    body:
      encoding: UTF-8
      string: '{"broadcaster_id":943007443}'
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '600'
      ratelimit-remaining:
      - '599'
      ratelimit-reset:
      - '1693054052'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"FunGoldenSageYee-0_mtBLVQ8EYqOwG0","edit_url":"https://clips.twitch.tv/FunGoldenSageYee-0_mtBLVQ8EYqOwG0/edit"}]}'
  recorded_at: Sat, 26 Aug 2023 12:47:32 GMT
recorded_with: VCR 6.2.0
