---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/eventsub/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507373'
    body:
      encoding: UTF-8
      string: '{"total":0,"data":[],"max_total_cost":10,"total_cost":0,"pagination":{}}'
  recorded_at: Wed, 10 Sep 2025 12:29:32 GMT
recorded_with: VCR 6.3.1
