---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/games/top
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693064475'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"509658","name":"Just Chatting","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/509658-{width}x{height}.jpg","igdb_id":""},{"id":"32982","name":"Grand
        Theft Auto V","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/32982_IGDB-{width}x{height}.jpg","igdb_id":"1020"},{"id":"21779","name":"League
        of Legends","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/21779-{width}x{height}.jpg","igdb_id":"115"},{"id":"18122","name":"World
        of Warcraft","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/18122-{width}x{height}.jpg","igdb_id":"123"},{"id":"32399","name":"Counter-Strike:
    [...]
