---
http_interactions:
- request:
    method: post
    uri: https://api.twitch.tv/helix/chat/announcements?broadcaster_id=943007443&moderator_id=943007443
    body:
      encoding: UTF-8
      string: '{"message":"Test announcement","color":"blue"}'
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693051213'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 26 Aug 2023 12:00:12 GMT
recorded_with: VCR 6.2.0
