---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/videos?id=1908988719
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693052288'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1908988719","stream_id":"39890242773","user_id":"943007443","user_login":"deanpcmadtest","user_name":"deanpcmadtest","title":"Test
        stream","description":"","created_at":"2023-08-26T12:16:32Z","published_at":"2023-08-26T12:16:32Z","url":"https://www.twitch.tv/videos/1908988719","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/dgeft87wbj63p/f6f6544b06c6927edc9d_deanpcmadtest_39890242773_1693052185//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":0,"language":"en","type":"archive","duration":"54s","muted_segments":[{"duration":55,"offset":0}]}],"pagination":{}}'
  recorded_at: Sat, 26 Aug 2023 12:18:07 GMT
recorded_with: VCR 6.2.0
