---
http_interactions:
- request:
    method: post
    uri: https://api.twitch.tv/helix/clips
    body:
      encoding: UTF-8
      string: '{"has_delay":false,"broadcaster_id":"141981764"}'
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Missing scope: clips:edit"}'
  recorded_at: Wed, 10 Sep 2025 12:19:33 GMT
recorded_with: VCR 6.3.1
