---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams/followed?user_id=943007443
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693051966'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"41023485080","user_id":"719509646","user_login":"deanpcmad_test","user_name":"deanpcmad_test","game_id":"","game_name":"","type":"live","title":"","viewer_count":0,"started_at":"2023-08-26T12:12:15Z","language":"en","thumbnail_url":"https://static-cdn.jtvnw.net/previews-ttv/live_user_deanpcmad_test-{width}x{height}.jpg","tag_ids":[],"tags":null,"is_mature":false}],"pagination":{}}'
  recorded_at: Sat, 26 Aug 2023 12:12:45 GMT
recorded_with: VCR 6.2.0
