---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/goals?broadcaster_id=943007443
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693055435'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2UWVeOCRQOBpjWdDDSJ5kj9Fru6","broadcaster_id":"943007443","broadcaster_name":"deanpcmadtest","broadcaster_login":"deanpcmadtest","type":"follower","description":"","current_amount":1,"target_amount":10,"created_at":"2023-08-26T13:10:17Z"}]}'
  recorded_at: Sat, 26 Aug 2023 13:10:34 GMT
recorded_with: VCR 6.2.0
