---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/chat/badges?broadcaster_id=13363719
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693054947'
    body:
      encoding: UTF-8
      string: '{"data":[{"set_id":"bits","versions":[{"id":"1000","image_url_1x":"https://static-cdn.jtvnw.net/badges/v1/0d85a29e-79ad-4c63-a285-3acd2c66f2ba/1","image_url_2x":"https://static-cdn.jtvnw.net/badges/v1/0d85a29e-79ad-4c63-a285-3acd2c66f2ba/2","image_url_4x":"https://static-cdn.jtvnw.net/badges/v1/0d85a29e-79ad-4c63-a285-3acd2c66f2ba/3","title":"cheer
        1000","description":"cheer 1000","click_action":"visit_url","click_url":"https://blog.twitch.tv/introducing-cheering-celebrate-together-da62af41fac6"},{"id":"10000","image_url_1x":"https://static-cdn.jtvnw.net/badges/v1/68af213b-a771-4124-b6e3-9bb6d98aa732/1","image_url_2x":"https://static-cdn.jtvnw.net/badges/v1/68af213b-a771-4124-b6e3-9bb6d98aa732/2","image_url_4x":"https://static-cdn.jtvnw.net/badges/v1/68af213b-a771-4124-b6e3-9bb6d98aa732/3","title":"cheer
        10000","description":"cheer 10000","click_action":"visit_url","click_url":"https://blog.twitch.tv/i[...]
