---
http_interactions:
- request:
    method: post
    uri: https://api.twitch.tv/helix/moderation/bans
    body:
      encoding: UTF-8
      string: '{"broadcaster_id":943007443,"moderator_id":943007443,"data":{"user_id":141981764,"reason":"test","duration":null}}'
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693055236'
    body:
      encoding: UTF-8
      string: '{"data":[{"broadcaster_id":"943007443","moderator_id":"943007443","user_id":"141981764","created_at":"2023-08-26T13:07:15Z","end_time":null}]}'
  recorded_at: Sat, 26 Aug 2023 13:07:15 GMT
recorded_with: VCR 6.2.0
