---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/videos?first=5&language=en&user_id=141981764
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506779'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2277656159","stream_id":"44926619787","user_id":"141981764","user_login":"twitchdev","user_name":"TwitchDev","title":"Standard
        Output // October 16, 2024","description":"","created_at":"2024-10-16T18:31:23Z","published_at":"2024-10-16T18:31:23Z","url":"https://www.twitch.tv/videos/2277656159","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/30f3738ff535638f66df_twitchdev_44926619787_1729103477//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":1073,"language":"en","type":"archive","duration":"53m58s","muted_segments":null},{"id":"2110776323","stream_id":"43963679115","user_id":"141981764","user_login":"twitchdev","user_name":"TwitchDev","title":"Standard
        Output // April 4, 2024 at 3:15pm EDT","description":"","created_at":"2024-04-04T19:15:46Z","published_at":"2024-04-04T19:15:46Z","url":"https://www.twitch.tv/videos/2110776323","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/d90ea4923f844170d538_twitchdev_43963679115_1712258141//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":1038,"language":"en","type":"archive","duration":"1h4m35s","muted_segments":null},{"id":"2009369378","stream_id":"43259168795","user_id":"141981764","user_login":"twitchdev","user_name":"TwitchDev","title":"Standard
        Output // December 20, 2023 at 2:00pm EST","description":"","created_at":"2023-12-20T19:04:41Z","published_at":"2023-12-20T19:04:41Z","url":"https://www.twitch.tv/videos/2009369378","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/d92928acd4c30ca2b6ee_twitchdev_43259168795_1703099076//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":860,"language":"en","type":"archive","duration":"1h7m28s","muted_segments":null},{"id":"1953435059","stream_id":"49511806317","user_id":"141981764","user_login":"twitchdev","user_name":"TwitchDev","title":"Standard
        Output: Pre-TwitchCon Edition // October 17, 2023 at 2:00pm EDT","description":"","created_at":"2023-10-17T18:01:32Z","published_at":"2023-10-17T18:01:32Z","url":"https://www.twitch.tv/videos/1953435059","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/4d81aa696e2d730c613d_twitchdev_49511806317_1697565687//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":1238,"language":"en","type":"archive","duration":"1h19m12s","muted_segments":null},{"id":"1926236475","stream_id":"49295452781","user_id":"141981764","user_login":"twitchdev","user_name":"TwitchDev","title":"Next:
        Standard Output // September 15, 2023 at 2:00pm EDT","description":"","created_at":"2023-09-15T18:08:33Z","published_at":"2023-09-15T18:08:33Z","url":"https://www.twitch.tv/videos/1926236475","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/cf94bee96bc7bd5b3200_twitchdev_49295452781_1694801308//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":670,"language":"en","type":"archive","duration":"1h9m28s","muted_segments":null}],"pagination":{"cursor":"eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6NX19"}}'
  recorded_at: Wed, 10 Sep 2025 12:19:39 GMT
recorded_with: VCR 6.3.1
