---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/clips?broadcaster_id=72938118
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693052795'
    body:
      encoding: UTF-8
      string: "{\"data\":[{\"id\":\"SleepySavageLouseTBTacoRight-UvFOOsTTRu2qbdY9\",\"url\":\"https://clips.twitch.tv/SleepySavageLouseTBTacoRight-UvFOOsTTRu2qbdY9\",\"embed_url\":\"https://clips.twitch.tv/embed?clip=SleepySavageLouseTBTacoRight-UvFOOsTTRu2qbdY9\",\"broadcaster_id\":\"72938118\",\"broadcaster_name\":\"deanpcmad\",\"creator_id\":\"61317928\",\"creator_name\":\"whom1313\",\"video_id\":\"\",\"game_id\":\"22393\",\"language\":\"en-gb\",\"title\":\"JUMP!!!!\",\"view_count\":15,\"created_at\":\"2022-06-23T19:43:14Z\",\"thumbnail_url\":\"https://clips-media-assets2.twitch.tv/45641803628-offset-1886-preview-480x272.jpg\",\"duration\":26,\"vod_offset\":null},{\"id\":\"HappyFriendlyAlmondTBTacoRight-HGWvzf4kS6kkprij\",\"url\":\"https://clips.twitch.tv/HappyFriendlyAlmondTBTacoRight-HGWvzf4kS6kkprij\",\"embed_url\":\"https://clips.twitch.tv/embed?clip=HappyFriendlyAlmondTBTacoRight-HGWvzf4kS6kkprij\",\"broadcaster_id\":\"72938118\",\"broadcaster_name\":\"deanpcmad\",\"creator_id\":\"72938118\",\"creator_name\":\"deanpcmad\",\"video_id\":\"\",\"game_id\":\"66402\",\"language\":\"en-gb\",\"title\":\"Pog\",\"view_count\":15,\"created_at\":\"2021-11[...]
