---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/shared_chat/session?broadcaster_id=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - '123'
      Authorization:
      - Bearer abc123
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"session_id":"session-1","host_broadcaster_id":"123","participants":[{"broadcaster_id":"123"},{"broadcaster_id":"456"}],"created_at":"2025-04-10T12:00:00Z","updated_at":"2025-04-10T12:05:00Z"}]}'
  recorded_at: Sat, 16 May 2026 11:17:04 GMT
recorded_with: VCR 6.4.0
