---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/games?id=514974
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693064438'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"514974","name":"Battlefield 2042","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/514974_IGDB-{width}x{height}.jpg","igdb_id":"125166"}]}'
  recorded_at: Sat, 26 Aug 2023 15:40:37 GMT
recorded_with: VCR 6.2.0
