---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams/followed?first=5&user_id=141981764
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Missing scope: user:read:follows"}'
  recorded_at: Wed, 10 Sep 2025 12:19:30 GMT
recorded_with: VCR 6.3.1
