---
http_interactions:
- request:
    method: post
    uri: https://api.twitch.tv/helix/eventsub/conduits
    body:
      encoding: UTF-8
      string: '{"shard_count":3}'
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507374'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The API accepts only
        an app access token."}'
  recorded_at: Wed, 10 Sep 2025 12:29:33 GMT
- request:
    method: patch
    uri: https://api.twitch.tv/helix/eventsub/conduits
    body:
      encoding: UTF-8
      string: '{"id":"fake-id","shard_count":2}'
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507374'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The API accepts only
        an app access token."}'
  recorded_at: Wed, 10 Sep 2025 12:29:33 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/eventsub/conduits/shards?conduit_id=fake-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507374'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The API accepts only
        an app access token."}'
  recorded_at: Wed, 10 Sep 2025 12:29:33 GMT
- request:
    method: delete
    uri: https://api.twitch.tv/helix/eventsub/conduits?id=fake-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507374'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The API accepts only
        an app access token."}'
  recorded_at: Wed, 10 Sep 2025 12:29:33 GMT
recorded_with: VCR 6.3.1
