---
http_interactions:
- request:
    method: put
    uri: https://api.twitch.tv/helix/users
    body:
      encoding: UTF-8
      string: '{"description":"This is a test description"}'
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692688590'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"943007443","login":"deanpcmadtest","display_name":"deanpcmadtest","type":"","broadcaster_type":"","description":"This
        is a test description","profile_image_url":"https://static-cdn.jtvnw.net/user-default-pictures-uv/215b7342-def9-11e9-9a66-784f43822e80-profile_image-300x300.png","offline_image_url":"","view_count":0,"email":"dean+deantest@deanpcmad.com","created_at":"2023-08-11T13:49:55Z"}]}'
  recorded_at: Tue, 22 Aug 2023 07:16:29 GMT
recorded_with: VCR 6.2.0
