---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/clips?game_id=1469308723
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693053428'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"DirtyRudePineappleHotPokket-5O0zpDLNgOZKwZpp","url":"https://clips.twitch.tv/DirtyRudePineappleHotPokket-5O0zpDLNgOZKwZpp","embed_url":"https://clips.twitch.tv/embed?clip=DirtyRudePineappleHotPokket-5O0zpDLNgOZKwZpp","broadcaster_id":"151368796","broadcaster_name":"PirateSoftware","creator_id":"778502648","creator_name":"","video_id":"","game_id":"1469308723","language":"en","title":"thors
        dad is in south park","view_count":192776,"created_at":"2022-06-11T09:52:26Z","thumbnail_url":"https://clips-media-assets2.twitch.tv/AT-cm%7C7-1c1uTtM6QyzYDmSsGaaQ-preview-480x272.jpg","duration":60,"vod_offset":null},{"id":"IronicTubularRamenAsianGlow-UB7Zau9ASn3ZqjRH","url":"https://clips.twitch.tv/IronicTubularRamenAsianGlow-UB7Zau9ASn3ZqjRH","embed_url":"https://clips.twitch.tv/embed?clip=IronicTubularRamenAsianGlow-UB7Zau9ASn3ZqjRH","broadcaster_id":"476845395","broadcaster_name":"bashbunni","creator_id":"37673406","creator_name":"n0xie","video_id":"","game_id":"1469308723","language":"en","title":"When
        you get namedropped","view_count":31374,"created_at":"2022-10-07T17:28:07Z","thumbnail_u[...]
