---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/videos?first=1&user_id=141981764
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506778'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2277656159","stream_id":"44926619787","user_id":"141981764","user_login":"twitchdev","user_name":"TwitchDev","title":"Standard
        Output // October 16, 2024","description":"","created_at":"2024-10-16T18:31:23Z","published_at":"2024-10-16T18:31:23Z","url":"https://www.twitch.tv/videos/2277656159","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/30f3738ff535638f66df_twitchdev_44926619787_1729103477//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":1073,"language":"en","type":"archive","duration":"53m58s","muted_segments":null}],"pagination":{"cursor":"eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6MX19"}}'
  recorded_at: Wed, 10 Sep 2025 12:19:37 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/videos?id=2277656159
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506778'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2277656159","stream_id":"44926619787","user_id":"141981764","user_login":"twitchdev","user_name":"TwitchDev","title":"Standard
        Output // October 16, 2024","description":"","created_at":"2024-10-16T18:31:23Z","published_at":"2024-10-16T18:31:23Z","url":"https://www.twitch.tv/videos/2277656159","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/30f3738ff535638f66df_twitchdev_44926619787_1729103477//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":1073,"language":"en","type":"archive","duration":"53m58s","muted_segments":null}],"pagination":{}}'
  recorded_at: Wed, 10 Sep 2025 12:19:37 GMT
recorded_with: VCR 6.3.1
