---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/videos?id=1886679889
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693216269'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1886679889","stream_id":"47099891500","user_id":"72938118","user_login":"deanpcmad","user_name":"deanpcmad","title":"RimWorld
        noob plays RimWorld","description":"","created_at":"2023-07-31T19:18:08Z","published_at":"2023-07-31T19:18:08Z","url":"https://www.twitch.tv/videos/1886679889","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/dgeft87wbj63p/1dcdb7804bcabeaf02c4_deanpcmad_47099891500_1690831083//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":33,"language":"en","type":"archive","duration":"1h52m44s","muted_segments":null}],"pagination":{}}'
  recorded_at: Mon, 28 Aug 2023 09:51:08 GMT
recorded_with: VCR 6.2.0
