---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/clips?broadcaster_id=141981764&first=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506775'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"LivelySaltyAyeayeNerfRedBlaster","url":"https://www.twitch.tv/twitchdev/clip/LivelySaltyAyeayeNerfRedBlaster","embed_url":"https://clips.twitch.tv/embed?clip=LivelySaltyAyeayeNerfRedBlaster","broadcaster_id":"141981764","broadcaster_name":"TwitchDev","creator_id":"39214945","creator_name":"batc_","video_id":"327237000","game_id":"509670","language":"en","title":"YIKES","view_count":205749,"created_at":"2018-10-25T19:40:03Z","thumbnail_url":"https://static-cdn.jtvnw.net/twitch-clips/AT-cm%7C331619892-preview-480x272.jpg","duration":22.4,"vod_offset":11395,"is_featured":false}],"pagination":{"cursor":"eyJiIjpudWxsLCJhIjp7IkN1cnNvciI6Ik1RPT0ifX0"}}'
  recorded_at: Wed, 10 Sep 2025 12:19:34 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/clips?id=LivelySaltyAyeayeNerfRedBlaster
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506775'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"LivelySaltyAyeayeNerfRedBlaster","url":"https://www.twitch.tv/twitchdev/clip/LivelySaltyAyeayeNerfRedBlaster","embed_url":"https://clips.twitch.tv/embed?clip=LivelySaltyAyeayeNerfRedBlaster","broadcaster_id":"141981764","broadcaster_name":"TwitchDev","creator_id":"39214945","creator_name":"batc_","video_id":"327237000","game_id":"509670","language":"en","title":"YIKES","view_count":205749,"created_at":"2018-10-25T19:40:03Z","thumbnail_url":"https://static-cdn.jtvnw.net/twitch-clips/AT-cm%7C331619892-preview-480x272.jpg","duration":22.4,"vod_offset":11395,"is_featured":false}],"pagination":{}}'
  recorded_at: Wed, 10 Sep 2025 12:19:34 GMT
recorded_with: VCR 6.3.1
