---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/games/top?first=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506775'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"21779","name":"League of Legends","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/21779-{width}x{height}.jpg","igdb_id":"115"},{"id":"509658","name":"Just
        Chatting","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/509658-{width}x{height}.jpg","igdb_id":""},{"id":"32982","name":"Grand
        Theft Auto V","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/32982_IGDB-{width}x{height}.jpg","igdb_id":"1020"},{"id":"509672","name":"IRL","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/509672-{width}x{height}.jpg","igdb_id":""},{"id":"32399","name":"Counter-Strike","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/32399-{width}x{height}.jpg","igdb_id":""}],"pagination":{"cursor":"eyJzIjo1LCJkIjpmYWxzZSwidCI6dHJ1ZX0="}}'
  recorded_at: Wed, 10 Sep 2025 12:19:34 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/games/top?after=eyJzIjo1LCJkIjpmYWxzZSwidCI6dHJ1ZX0%3D&first=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506775'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"29595","name":"Dota 2","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/29595-{width}x{height}.jpg","igdb_id":""},{"id":"1702520304","name":"Path
        of Exile 2","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/1702520304_IGDB-{width}x{height}.jpg","igdb_id":"125642"},{"id":"516575","name":"VALORANT","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/516575-{width}x{height}.jpg","igdb_id":"126459"},{"id":"511391","name":"Hollow
        Knight: Silksong","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/511391_IGDB-{width}x{height}.jpg","igdb_id":"115289"},{"id":"18122","name":"World
        of Warcraft","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/18122-{width}x{height}.jpg","igdb_id":"123"}],"pagination":{"cursor":"eyJzIjoxMCwiZCI6ZmFsc2UsInQiOnRydWV9"}}'
  recorded_at: Wed, 10 Sep 2025 12:19:35 GMT
recorded_with: VCR 6.3.1
