---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/subscriptions/user?broadcaster_id=13363719&user_id=72938118
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692820135'
    body:
      encoding: UTF-8
      string: '{"data":[{"broadcaster_id":"13363719","broadcaster_name":"Fremily","broadcaster_login":"fremily","gifter_id":"587169798","gifter_name":"mspeachyxo","gifter_login":"mspeachyxo","is_gift":true,"tier":"3000"}]}'
  recorded_at: Wed, 23 Aug 2023 19:48:54 GMT
recorded_with: VCR 6.2.0
