---
http_interactions:
- request:
    method: post
    uri: https://api.twitch.tv/helix/channels/vips
    body:
      encoding: UTF-8
      string: '{"broadcaster_id":72938118,"user_id":943007443}'
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693055648'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 26 Aug 2023 13:14:07 GMT
recorded_with: VCR 6.2.0
