---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/clips?broadcaster_id=141981764&ended_at=2023-12-31T23%3A59%3A59Z&first=5&started_at=2023-01-01T00%3A00%3A00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506775'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"TawdryNaiveCaterpillarWTRuck-pYjVz0yZtL-9T0tg","url":"https://www.twitch.tv/twitchdev/clip/TawdryNaiveCaterpillarWTRuck-pYjVz0yZtL-9T0tg","embed_url":"https://clips.twitch.tv/embed?clip=TawdryNaiveCaterpillarWTRuck-pYjVz0yZtL-9T0tg","broadcaster_id":"141981764","broadcaster_name":"TwitchDev","creator_id":"117482317","creator_name":"ZachBussey","video_id":"1792712649","game_id":"1469308723","language":"en","title":"Guest
        Star","view_count":69,"created_at":"2023-04-13T18:21:05Z","thumbnail_url":"https://static-cdn.jtvnw.net/twitch-clips/U0lzpKWI1c9MmbS_vU9LYA/AT-cm%7CU0lzpKWI1c9MmbS_vU9LYA-preview-480x272.jpg","duration":59.9,"vod_offset":1198,"is_featured":false},{"id":"SavageStrongAppleOhMyDog-6Lhl9YUAzEGrYGxj","url":"https://www.twitch.tv/twitchdev/clip/SavageStrongAppleOhMyDog-6Lhl9YUAzEGrYGxj","embed_url":"https://clips.twitch.tv/embed?clip=SavageStrongAppleOhMyDog-6Lhl9YUAzEGrYGxj","broadcaster_id":"141981764","broadcaster_name":"TwitchDev","creator_id":"131642287","creator_name":"AmigaLive","video_id":"1760253013","game_id":"1469308723","language":"en","title":"IRC
        commands removed","view_count":34,"created_at":"2023-03-13T15:37:04Z"[...]
