---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/clips?id=SleepySavageLouseTBTacoRight-UvFOOsTTRu2qbdY9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693053390'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"SleepySavageLouseTBTacoRight-UvFOOsTTRu2qbdY9","url":"https://clips.twitch.tv/SleepySavageLouseTBTacoRight-UvFOOsTTRu2qbdY9","embed_url":"https://clips.twitch.tv/embed?clip=SleepySavageLouseTBTacoRight-UvFOOsTTRu2qbdY9","broadcaster_id":"72938118","broadcaster_name":"deanpcmad","creator_id":"61317928","creator_name":"whom1313","video_id":"","game_id":"22393","language":"en-gb","title":"JUMP!!!!","view_count":15,"created_at":"2022-06-23T19:43:14Z","thumbnail_url":"https://clips-media-assets2.twitch.tv/45641803628-offset-1886-preview-480x272.jpg","duration":26,"vod_offset":null}],"pagination":{}}'
  recorded_at: Sat, 26 Aug 2023 12:36:29 GMT
recorded_with: VCR 6.2.0
