---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/users?id%5B%5D=141981764&id%5B%5D=72938118
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - y3bbij629y8rc52cfryksqw9paos1e
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1719507530'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"141981764","login":"twitchdev","display_name":"TwitchDev","type":"","broadcaster_type":"partner","description":"Supporting
        third-party developers building Twitch integrations from chatbots to game
        integrations.","profile_image_url":"https://static-cdn.jtvnw.net/jtv_user_pictures/8a6381c7-d0c0-4576-b179-38bd5ce1d6af-profile_image-300x300.png","offline_image_url":"https://static-cdn.jtvnw.net/jtv_user_pictures/3f13ab61-ec78-4fe6-8481-8682cb3b0ac2-channel_offline_image-1920x1080.png","view_count":0,"created_at":"2016-12-14T20:32:28Z"},{"id":"72938118","login":"deanpcmad","display_name":"deanpcmad","type":"","broadcaster_type":"affiliate","description":"Hey,
        I''m Dean! I''m a maker of various apps and tools for Twitch streamers with
        the current one being streamvods.com","profile_image_url":"https://static-cdn.jtvnw.net/jtv_user_pictures/3d8046a6-6bbc-4113-b984-6b581a3c255c-profile_image-300x300.png","offline_image_url":"","view_count":0,"email":"dean@deanpcmad.com","created_at":"2014-10-12T19:05:58Z"}]}'
  recorded_at: Thu, 27 Jun 2024 16:58:50 GMT
recorded_with: VCR 6.2.0
