---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=j73btpx0da5n9gp6ijrpbgfu147n40&client_secret=<CLIENT_SECRET>&grant_type=client_credentials&scope
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-68c16f2e-693391ea75b4e810617559f4
    body:
      encoding: UTF-8
      string: '{"access_token":"<APP_ACCESS_TOKEN>","expires_in":5358510,"token_type":"bearer"}

        '
  recorded_at: Wed, 10 Sep 2025 12:29:34 GMT
- request:
    method: post
    uri: https://api.twitch.tv/helix/eventsub/conduits
    body:
      encoding: UTF-8
      string: '{"shard_count":2}'
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer e1efc5zl1ksxb1mh1kc76wv4k5suqe
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507375'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"45b1f129-40fe-44f5-b526-cc4f07a7ad5b","shard_count":2}]}'
  recorded_at: Wed, 10 Sep 2025 12:29:35 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/eventsub/conduits/shards?conduit_id=45b1f129-40fe-44f5-b526-cc4f07a7ad5b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer e1efc5zl1ksxb1mh1kc76wv4k5suqe
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507376'
    body:
      encoding: UTF-8
      string: '{"data":[],"pagination":{}}'
  recorded_at: Wed, 10 Sep 2025 12:29:35 GMT
[...]
- request:
    method: delete
    uri: https://api.twitch.tv/helix/eventsub/conduits?id=45b1f129-40fe-44f5-b526-cc4f07a7ad5b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer e1efc5zl1ksxb1mh1kc76wv4k5suqe
  response:
    status:
      code: 204
      message: No Content
    headers:
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507376'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Sep 2025 12:29:35 GMT
recorded_with: VCR 6.3.1
