---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=j73btpx0da5n9gp6ijrpbgfu147n40&client_secret=<CLIENT_SECRET>&grant_type=client_credentials&scope
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-68c16f31-5ea591ff255fcdfe681281b0
    body:
      encoding: UTF-8
      string: '{"access_token":"<APP_ACCESS_TOKEN>","expires_in":5428040,"token_type":"bearer"}

        '
  recorded_at: Wed, 10 Sep 2025 12:29:38 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/eventsub/conduits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer 0wv1un37hui3kf7xuz8ufp7gspq5zo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507379'
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 10 Sep 2025 12:29:38 GMT
recorded_with: VCR 6.3.1
