---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams?first=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506771'
    body:
      encoding: UTF-8
      string: "{\"data\":[{\"id\":\"314931842521\",\"user_id\":\"92038375\",\"user_login\":\"caedrel\",\"user_name\":\"Caedrel\",\"game_id\":\"21779\",\"game_name\":\"League
        of Legends\",\"type\":\"live\",\"title\":\"\U0001F534T1 VS DK LCK PLAYOFFS
        - SILKSONG AFTER\U0001F534-  !dpmlol !discord !displate\",\"viewer_count\":93924,\"started_at\":\"2025-09-10T07:01:31Z\",\"language\":\"en\",\"thumbnail_url\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_caedrel-{width}x{height}.jpg\",\"tag_ids\":[],\"tags\":[\"English\",\"LPL\",\"LCK\",\"LEC\"],\"is_mature\":false},{\"id\":\"314930263136\",\"user_id\":\"496105401\",\"user_login\":\"byilhann\",\"user_name\":\"byilhann\",\"game_id\":\"509672\",\"game_name\":\"IRL\",\"type\":\"live\",\"title\":\"MONTPELLIER
        - PARIS À PIEDS AVEC NICO JOUR 3 | DÉBUT DE JOURNÉE | Collaboration Commerciale
        !revolut\",\"viewer_count\":64760,\"started_at\":\"2025-09-10T07:32:59Z\",\"language\":\"fr\",\"thumbnail_url\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_byilhann-{width}x{height}.jpg\",\"tag_[...]
