---
http_interactions:
- request:
    method: patch
    uri: https://api.twitch.tv/helix/channels
    body:
      encoding: UTF-8
      string: '{"title":"Test stream","broadcaster_id":943007443}'
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692690239'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Aug 2023 07:43:58 GMT
recorded_with: VCR 6.2.0
