---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/hypetrain/status?broadcaster_id=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - '123'
      Authorization:
      - Bearer abc123
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"current":{"id":"train-1","broadcaster_user_id":"123","level":2},"shared_all_time_high":{"level":5,"total":9001}}]}'
  recorded_at: Sat, 16 May 2026 11:17:04 GMT
recorded_with: VCR 6.4.0
