---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/clips?broadcaster_id=141981764&first=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506774'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"LivelySaltyAyeayeNerfRedBlaster","url":"https://www.twitch.tv/twitchdev/clip/LivelySaltyAyeayeNerfRedBlaster","embed_url":"https://clips.twitch.tv/embed?clip=LivelySaltyAyeayeNerfRedBlaster","broadcaster_id":"141981764","broadcaster_name":"TwitchDev","creator_id":"39214945","creator_name":"batc_","video_id":"327237000","game_id":"509670","language":"en","title":"YIKES","view_count":205749,"created_at":"2018-10-25T19:40:03Z","thumbnail_url":"https://static-cdn.jtvnw.net/twitch-clips/AT-cm%7C331619892-preview-480x272.jpg","duration":22.4,"vod_offset":11395,"is_featured":false},{"id":"ArborealAlertKleeTheThing","url":"https://www.twitch.tv/twitchdev/clip/ArborealAlertKleeTheThing","embed_url":"https://clips.twitch.tv/embed?clip=ArborealAlertKleeTheThing","broadcaster_id":"141981764","broadcaster_name":"TwitchDev","creator_id":"138187893","creator_name":"ayyyyy_rik","video_id":"183456518","game_id":"","language":"en","title":"Pay
        2 win","view_count":96267,"created_at":"2017-10-19T18:20:38Z","thumbnail_url":"https://static-cdn.jtvnw.net/twitch-clips/140663[...]
