---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/channels?broadcaster_id=943007443
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692690158'
    body:
      encoding: UTF-8
      string: '{"data":[{"broadcaster_id":"943007443","broadcaster_login":"deanpcmadtest","broadcaster_name":"deanpcmadtest","broadcaster_language":"","game_id":"","game_name":"","title":"","delay":0,"tags":[],"content_classification_labels":[],"is_branded_content":false}]}'
  recorded_at: Tue, 22 Aug 2023 07:42:37 GMT
recorded_with: VCR 6.2.0
