---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=j73btpx0da5n9gp6ijrpbgfu147n40&client_secret=<CLIENT_SECRET>&grant_type=client_credentials&scope
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-68c16f2c-5c36bb4f41f6db2d57a13e85
    body:
      encoding: UTF-8
      string: '{"access_token":"<APP_ACCESS_TOKEN>","expires_in":5269931,"token_type":"bearer"}

        '
  recorded_at: Wed, 10 Sep 2025 12:29:32 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/eventsub/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer rpfg3k2svz6nkmoy5mhuhy11u68ab8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507373'
    body:
      encoding: UTF-8
      string: '{"total":11,"data":[{"id":"851f1bfc-d43c-4a7a-a3d3-144260a1d228","status":"conduit_deleted","type":"channel.chat.message","version":"1","condition":{"broadcaster_user_id":"72938118","user_id":"438264323"},"created_at":"2025-09-10T11:57:48.998977036Z","transport":{"method":"conduit","conduit_id":"a0a2185e-434c-489c-b894-66f4b8dcb5fb"},"cost":0},{"id":"2cc6fe5d-2802-42eb-ab5a-cead6689e888","status":"conduit_deleted","type":"channel.chat.notification","version":"1","condition":{"broadcaster_user_id":"72938118","user_id":"438264323"},"created_at":"2025-09-10T11:57:49.283746199Z","transport":{"method":"conduit","conduit_id":"a0a2185e-434c-489c-b894-66f4b8dcb5fb"},"cost":0},{"id":"90d78884-ed6d-457c-93aa-cfa73cb35c97","status":"conduit_deleted","type":"channel.chat.message","version":"1","condition":{"broadcaster_user_id":"719509646","us[...]
