---
http_interactions:
- request:
    method: post
    uri: https://api.twitch.tv/helix/eventsub/conduits
    body:
      encoding: UTF-8
      string: '{"shard_count":1}'
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507150'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The API accepts only
        an app access token."}'
  recorded_at: Wed, 10 Sep 2025 12:25:49 GMT
recorded_with: VCR 6.3.1
