---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/eventsub/conduits/shards?conduit_id=fake-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507151'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The API accepts only
        an app access token."}'
  recorded_at: Wed, 10 Sep 2025 12:25:50 GMT
recorded_with: VCR 6.3.1
