---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/videos?game_id=1469308723
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693052404'
    body:
      encoding: UTF-8
      string: "{\"data\":[{\"id\":\"1908990233\",\"stream_id\":\"39890254597\",\"user_id\":\"943007443\",\"user_login\":\"deanpcmadtest\",\"user_name\":\"deanpcmadtest\",\"title\":\"Test
        stream\",\"description\":\"\",\"created_at\":\"2023-08-26T12:19:33Z\",\"published_at\":\"2023-08-26T12:19:33Z\",\"url\":\"https://www.twitch.tv/videos/1908990233\",\"thumbnail_url\":\"https://vod-secure.twitch.tv/_404/404_processing_%{width}x%{height}.png\",\"viewable\":\"public\",\"view_count\":0,\"language\":\"en\",\"type\":\"archive\",\"duration\":\"30s\",\"muted_segments\":null},{\"id\":\"1908986510\",\"stream_id\":\"42657681099\",\"user_id\":\"76556616\",\"user_login\":\"vwerwe\",\"user_name\":\"vwerwe\",\"title\":\"using
        ai to code my own ai viewer that chats to me because i have 0 viewers\",\"description\":\"\",\"created_at\":\"2023-08-26T12:12:03Z\",\"published_at\":\"2023-08-26T12:12:03Z\",\"url\":\"https://www.twitch.tv/videos/1908986510\",\"thumbnail_url\":\"https://vod-secure.twitch.tv/_404/404_processing_%{width}x%{height}.png\",\"viewable\":\"pub[...]
