---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/moderation/banned?broadcaster_id=943007443
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693055154'
    body:
      encoding: UTF-8
      string: '{"data":[{"user_id":"25681094","user_login":"commanderroot","user_name":"CommanderRoot","expires_at":"","created_at":"2023-08-26T13:04:41Z","reason":"","moderator_id":"943007443","moderator_login":"deanpcmadtest","moderator_name":"deanpcmadtest"}],"pagination":{}}'
  recorded_at: Sat, 26 Aug 2023 13:05:53 GMT
recorded_with: VCR 6.2.0
