---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/chat/emotes?broadcaster_id=141981764
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757506773'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"304456814","name":"twitchdevTravis","images":{"url_1x":"https://static-cdn.jtvnw.net/emoticons/v2/304456814/static/light/1.0","url_2x":"https://static-cdn.jtvnw.net/emoticons/v2/304456814/static/light/2.0","url_4x":"https://static-cdn.jtvnw.net/emoticons/v2/304456814/static/light/3.0"},"tier":"1000","emote_type":"subscriptions","emote_set_id":"301590448","format":["static"],"scale":["1.0","2.0","3.0"],"theme_mode":["light","dark"]},{"id":"304456803","name":"twitchdevSoon","images":{"url_1x":"https://static-cdn.jtvnw.net/emoticons/v2/304456803/static/light/1.0","url_2x":"https://static-cdn.jtvnw.net/emoticons/v2/304456803/static/light/2.0","url_4x":"https://static-cdn.jtvnw.net/emoticons/v2/304456803/static/light/3.0"},"tier":"1000","emote_type":"subscriptions","emote_set_id":"301590448","format":["static"],"scale":["1.0","2.0","3.0"],"theme_mode":["light","dark"]},{"id":"emotesv2_4c3b4ed516de493bbcd2df2f5[...]
