---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/eventsub/subscriptions?conduit_id=conduit-123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - '123'
      Authorization:
      - Bearer abc123
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total":1,"data":[{"id":"sub-1","status":"enabled","type":"channel.chat.message","version":"1","condition":{"broadcaster_user_id":"123","user_id":"321"},"transport":{"method":"conduit","conduit_id":"conduit-123"},"cost":0,"created_at":"2026-04-17T12:00:00Z"}],"pagination":{}}'
  recorded_at: Sat, 16 May 2026 11:17:01 GMT
recorded_with: VCR 6.4.0
