---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/custom_power_ups?broadcaster_id=123&id%5B%5D=power-up-1&id%5B%5D=power-up-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - '123'
      Authorization:
      - Bearer abc123
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"power-up-1","broadcaster_id":"123","title":"Confetti
        Cannon","bits_cost":100,"is_enabled":true},{"id":"power-up-2","broadcaster_id":"123","title":"Spotlight","bits_cost":250,"is_enabled":false}],"pagination":{}}'
  recorded_at: Sat, 16 May 2026 11:17:04 GMT
recorded_with: VCR 6.4.0
