---
http_interactions:
- request:
    method: post
    uri: https://api.twitch.tv/helix/eventsub/subscriptions
    body:
      encoding: UTF-8
      string: '{"type":"channel.update","version":"1","condition":{"broadcaster_user_id":"141981764"},"transport":{"method":"webhook","callback":"https://example.com/webhooks/callback","secret":"secretkey123"}}'
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507149'
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"auth must use app access
        token to create webhook subscription"}'
  recorded_at: Wed, 10 Sep 2025 12:25:48 GMT
recorded_with: VCR 6.3.1
