---
http_interactions:
- request:
    method: post
    uri: https://api.twitch.tv/helix/eventsub/conduits
    body:
      encoding: UTF-8
      string: '{"shard_count":0}'
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"Missing required parameter
        \"shard_count\""}'
  recorded_at: Wed, 10 Sep 2025 12:25:11 GMT
recorded_with: VCR 6.3.1
