---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/subscriptions?broadcaster_id=72938118
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692820208'
    body:
      encoding: UTF-8
      string: '{"data":[{"broadcaster_id":"72938118","broadcaster_login":"deanpcmad","broadcaster_name":"deanpcmad","gifter_id":"","gifter_login":"","gifter_name":"","is_gift":false,"plan_name":"Channel
        Subscription (deanpcmad): $24.99 Sub","tier":"3000","user_id":"72938118","user_name":"deanpcmad","user_login":"deanpcmad"}],"pagination":{"cursor":""},"points":7,"total":6}'
  recorded_at: Wed, 23 Aug 2023 19:50:07 GMT
recorded_with: VCR 6.2.0
