---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=j73btpx0da5n9gp6ijrpbgfu147n40&client_secret=<CLIENT_SECRET>&grant_type=client_credentials&scope
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-68c16f30-1146bc9b4f98caa5053abefc
    body:
      encoding: UTF-8
      string: '{"access_token":"<APP_ACCESS_TOKEN>","expires_in":5632265,"token_type":"bearer"}

        '
  recorded_at: Wed, 10 Sep 2025 12:29:36 GMT
- request:
    method: post
    uri: https://api.twitch.tv/helix/eventsub/conduits
    body:
      encoding: UTF-8
      string: '{"shard_count":1}'
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer l6wf4z9myf52rh6pkg08bvsxjtpx08
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507377'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"f7d998fc-5e72-440d-ad29-10f0a2b5e68a","shard_count":1}]}'
  recorded_at: Wed, 10 Sep 2025 12:29:37 GMT
- request:
    method: delete
    uri: https://api.twitch.tv/helix/eventsub/conduits?id=f7d998fc-5e72-440d-ad29-10f0a2b5e68a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - j73btpx0da5n9gp6ijrpbgfu147n40
      Authorization:
      - Bearer l6wf4z9myf52rh6pkg08bvsxjtpx08
  response:
    status:
      code: 204
      message: No Content
    headers:
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1757507378'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Sep 2025 12:29:37 GMT
recorded_with: VCR 6.3.1
