---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-id:
      - "<CLIENT_ID>"
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1693051757'
    body:
      encoding: UTF-8
      string: "{\"data\":[{\"id\":\"40562361015\",\"user_id\":\"545050196\",\"user_login\":\"kato_junichi0817\",\"user_name\":\"加藤純一です\",\"game_id\":\"511224\",\"game_name\":\"Apex
        Legends\",\"type\":\"live\",\"title\":\"エペ祭り本番優勝会場\",\"viewer_count\":57578,\"started_at\":\"2023-08-26T07:18:19Z\",\"language\":\"ja\",\"thumbnail_url\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_kato_junichi0817-{width}x{height}.jpg\",\"tag_ids\":[],\"tags\":[\"加藤純一\",\"雑談\",\"雑談歓迎\",\"雑談〇\",\"雑談大好き\",\"日本語\"],\"is_mature\":false},{\"id\":\"41022898648\",\"user_id\":\"129339704\",\"user_login\":\"betboom_ru\",\"user_name\":\"betboom_ru\",\"game_id\":\"29595\",\"game_name\":\"Dota
        2\",\"type\":\"live\",\"title\":\"(RU) Virtus.pro vs One Move | BO5 | The
        International 2023 - EEU Qualifier | by Sheyl \\u0026 Mantis\",\"viewer_count\":32433,\"started_at\":\"2023-08-26T05:40:39Z\",\"language\":\"ru\",\"thumbnail_url\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_betboom_ru-{width}x{height}.jpg\"[...]
